<!DOCTYPE html>
<html ng-app="SecureBankApp">
  <head>
    <title>Transaction Request Page</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <style>
	html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
	.FixedHeightContainer
	{
	  height: 250px;

	}
	.Content
	{
	  height:224px;
	   overflow:auto;
	}
	</style>
  </head>
  <body>
    
    <div class="container; background-color: w3-light-gray" style = "position:fixed; left:-10px; width: 100%;">
	<div ng-include="'modules/sidebar.html'"></div>
    <div id="base"  class="container; background-color: w3-light-gray" style = "position:fixed; left:0px; width: 100%;">

      <div class="w3-panel" style = "position:relative; left:350px;width: 100%;">
      	<!-- <div><i class="fa fa-plus" style="font-size:48px;color:DodgerBlue"></i></div> -->
	    <div > <!-- style="margin:0 -16px" -->
	      <div class="w3-twothird FixedHeightContainer">
	        <h5>Transactions</h5>
	        <div  class="Content">
	        <!-- <table class="table table-bordered table-condensed table-striped" fixed-header> -->
	        <table class="w3-table w3-striped w3-white table-bordered table-condensed" fixed-header>
	        <!-- <table class="w3-table w3-striped w3-white"> -->
	        <thead>
            <tr>
                <th style="text-align:center">Amount</th>
                <th style="text-align:center">Type</th>
                <th style="text-align:center">Status</th>
                <th style="text-align:center">Time</th>
            </tr>
	        </thead>
	        <tbody>
	            <tr ng-repeat="item in transactionList">
	                <td style="text-align:right;padding-right: 25px;"><i class="fa w3-text-blue w3-large"></i>{{item.transactionAmount}}</td>
	                <td style="text-align:center">{{item.type}}</td>
	                <td style="text-align:center">{{item.status}}</td>
	                <td style="text-align:center">{{item.transactionTimestamp}}</td>
	            </tr>
	        </tbody>
	        
	          <!-- <tr>
	            <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
	            <td>New record, over 90 views.</td>
	            <td><i>10 mins</i></td>
	          </tr> -->
	          <!-- fa-bell fa-users fa-comment fa-bookmark fa-laptop fa-share-alt -->
	        </table>
	        </div>
	      </div>
	    </div>
	  </div>
      
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
    </div>
  </body>
</html>
