<!DOCTYPE html>
<html ng-app="SecureBankApp">
<head>
	<title>Account Request Page</title>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
	html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
	.FixedHeightContainer
	{
	  height: 250px;

	}
	.Content
	{
	  height:224px;
	   overflow:auto;
	}
	</style>
</head>
<body>

<div class="container; background-color: w3-light-gray" style = "position:fixed; left:-10px; width: 100%;">
	<div ng-include="'modules/sidebar.html'"></div>
	<div id="base"  class="container; background-color: w3-light-gray" style = "position:fixed; left:0px; width: 100%;">

		<div style = "position:relative; left:350px;width: 100%;">
			<header class="w3-container" style="padding-top:22px">
				<h5><b><i class="fa fa-dashboard"></i> Pick Account Type</b></h5>
			</header>
			<div class="form-group w3-quarter">
				<div class="radio w3-container w3-blue w3-padding-16" ng-repeat="acc in accountList">
					<label>
						<input type="radio" name="chickenEgg" value = "{{acc.id}}" ng-model="$parent.SelectedAccountId">
					</label>
					{{acc.name}}
				</div>
				<div class="w3-panel">
					<button class="w3-w3-button w3-padding w3-green" style="font-size:16px;" ng-click="SubmitAccountType()"> Submit</button>
					 <span ng-show="isDisplayAlert" class="help-block">{{alertMsg }}</span>
				</div>
			</div>

		</div>
	</div>

   </div>
   </div>
	<script src="resources/scripts/axure/ios.js"></script>
</div>
</body>
</html>
