<div ng-app="SecureBankApp">
<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right" ng-click="goLogout()">Logout</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s8 w3-bar">
      <span>Welcome, <strong>User</strong></span><br>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Dashboard</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <button class="w3-bar-item w3-button w3-padding w3-blue" ng-click="goDashboard()"><i class="fa fa-users fa-fw"></i>  Overview</button>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  Account</a>
    <button class="w3-bar-item w3-button w3-padding w3-blue" ng-click="goTransaction()"><i class="fa fa-users fa-fw"></i>  Transactions</button>
    <button class="w3-bar-item w3-button w3-padding w3-blue" ng-click="goCreditDebit()"><i class="fa fa-users fa-fw"></i>  Credit/Debit</button>
    <button class="w3-bar-item w3-button w3-padding w3-blue" ng-click="goTransferFunds()"><i class="fa fa-users fa-fw"></i>  Transfer Funds</button>
    <button class="w3-bar-item w3-button w3-padding w3-blue" ng-click="goHelpandSupport()"><i class="fa fa-users fa-fw"></i>  Help and Support</button>
    <button class="w3-bar-item w3-button w3-padding w3-blue" ng-click="goApprovals()" ng-show="$rootScope.isEmployee"><i class="fa fa-users fa-fw"></i>  Approvals</button>
   
  </div>
</nav>
</div>
