<!DOCTYPE html>
<html ng-app="SecureBankApp">
  <head>
    <title>Transfer Funds</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <style>
	html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
	.FixedHeightContainer
	{
	  height: 250px;

	}
	.Content
	{
	  height:224px;
	   overflow:auto;
	}
	</style>
  </head>
  <body>
    
    <div class="container; background-color: w3-light-gray" style = "position:fixed; left:-10px; width: 100%;">
	<div ng-include="'modules/sidebar.html'"></div>
    <div id="base"  class="container; background-color: w3-light-gray" style = "position:fixed; left:0px; width: 100%;">

	<div style = "position:relative; left:350px;width: 100%;">
	<header class="w3-container" style="padding-top:22px">
	    <h5><b><i class="fa fa-dashboard"></i> Pick Account</b></h5>
  	</header>
  	<br>
  	<label>From Account:   </label><label style="margin-left: 2.5em;">To Account:</label><br>
  	
  	<select style="padding: 0 5em 1em 0;" ng-model="fromAccount" ng-options="account.id for account in fromAccountList"></select>
    
    <select style="margin-left: 2.5em;padding: 0 5em 1em 0;" ng-model="toAccount" ng-options="account.id for account in toAccountList"></select>
	
	<div class="w3-panel">
      	<!-- <div><i class="fa fa-plus" style="font-size:48px;color:DodgerBlue"></i></div> -->
	    <label for="fname">Enter Amount:</label><br>
  		<input type="number" id="fname" name="fname" ng-model="transferAmount">
  		<button class="w3-w3-button w3-padding w3-green" style="font-size:16px;" ng-click="transferFunds()"><i class="fa fa-play" style="font-size:18px;"></i> Go</button>
  		<span style='font-size:25px;color:green;' ng-show="isTransferSuccess">&#10004;</span><br>
  		<label ng-show="transferErrorMsg && isTransferSuccess">{{transferErrorMsg}}</label><br>
  		<label class="alert alert-danger" ng-show="transferErrorMsg && !isTransferSuccess">{{transferErrorMsg}}</label>	
	  </div>
	  
	  
	  <header class="w3-container" style="padding-top:22px">
	    <h5><b><i class="fa fa-dashboard"></i> Transfer Funds By Email/Phone </b></h5>
  	</header><br>
  	<label>From Account:   </label><label style="margin-left: 2.5em;">Select Phone/Email </label><label style="margin-left: 5em;">Enter {{phonemailoption}} : </label><br>
  	<select style="padding: 0 5em 1em 0;" ng-model="fromAccount2" ng-options="account.id for account in fromAccountList"></select>
  	<select style="margin-left: 2.5em;padding: 0 5em 1em 0;"  ng-model="phonemailoption" ng-options="x for x in phoneMailList"></select>	
  	<input style="margin-left: 5em;padding: 0 5em 1em 0;"  type="text" id="fname" name="fname" ng-model="phonemailText">
  	<button class="w3-w3-button w3-padding" style="font-size:16px;" ng-click="getToUserAccounts()"><i class="fa fa-play" style="font-size:18px;"></i></button><br>
	
	<label class="alert alert-danger" ng-show="!isPhonemailValidate"> Enter appropriate data</label>	
	
	
	
	
	<div ng-show="islookupsuccess" class="w3-panel">
      	<!-- <div><i class="fa fa-plus" style="font-size:48px;color:DodgerBlue"></i></div> -->
	    <label>Select To Account Number </label><label style="margin-left: 2.5em;">Enter Amount:</label><br>
	    <select style="padding: 0 5em 1em 0;" ng-model="toAccount2" ng-options="account.id for account in toAccountList2"></select>
  		<input style="margin-left: 2.5em;padding: 0 5em 1em 0;" type="number" id="fname" name="fname" ng-model="transferAmount2">
  		<button class="w3-w3-button w3-padding w3-green" style="font-size:16px;margin-left: 8em;" ng-click="transferFundsbyphonemail()"><i class="fa fa-play" style="font-size:18px;"></i> Go</button>
  		<span style='font-size:25px;color:green;' ng-show="isTransferSuccess2">&#10004;</span><br>
  		<label ng-show="transferErrorMsg2 && isTransferSuccess2">{{transferErrorMsg2}}</label><br>
  		<label class="alert alert-danger" ng-show="transferErrorMsg2 && !isTransferSuccess2">{{transferErrorMsg2}}</label>	
	  </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
    </div>
  </body>
</html>
