<!DOCTYPE html>
<html ng-app"SecureBankApp">
  <head>
    <title>Approval Page</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <style>
	html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
	.FixedHeightContainer
	{
	  height: 250px;

	}
	.Content
	{
	  height:224px;
	   overflow:auto;
	}
	#table-wrapper {
	  position:relative;
	}
	#table-scroll {
	  height:200px;
	  overflow:auto;  
	  margin-top:20px;
	}
	</style>
  </head>
  <body>
    <div class="container; background-color: w3-light-gray" style = "position:fixed; left:-10px; width: 100%;">
	<div ng-include="'modules/sidebar.html'"></div>
    <div id="base"  class="container; background-color: w3-light-gray" style = "position:fixed; left:0px; width: 100%;">

      <div  id="table-wrapper" class="w3-twothird " style = "position:relative; left:350px;width: 100%;"> <!-- FixedHeightContainer -->
          <!-- Unnamed (Rectangle) -->
          <header class="w3-container" style="padding-top:22px">
		    <h5><b><i class="fa fa-dashboard"></i>Transaction Approval</b></h5>
		  </header>
          <div  id="table-scroll">  <!-- class="Content" -->
              <table class="w3-table w3-striped w3-white table-bordered table-condensed" style="width:70%">
                  <thead>
                      <tr>
                          <th style="text-align:center">Amount</th>
                          <th style="text-align:center">Type</th>
                          <th style="text-align:center">Time</th>
                          <th style="text-align:center">Approve</th>
                          <th style="text-align:center">Deny</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="item in transactionList">
                          <td style="text-align:right;padding-right: 25px;"><i class="fa w3-text-blue w3-large"></i>{{item.transactionAmount}}</td>
                          <td style="text-align:center">{{item.type}}</td>
                          <td style="text-align:center">{{item.transactionTimestamp}}</td>
                          <td style="text-align:center" ng-hide="item.status=='PENDING'" colspan="2">{{item.status}}</td>
                          <td style="text-align:center" ng-show="item.status=='PENDING'">
                              <button ng-click="RespondToPendingTransactions(item.transactionId,true)">Approve</button>
                          </td>
                          <td style="text-align:center" ng-show="item.status=='PENDING'">
                              <button ng-click="RespondToPendingTransactions(item.transactionId,false)">Deny</button>
                          </td>
                      </tr>
                  </tbody>
              </table>
              <label class="alert alert-danger" ng-show="transactionResponseError">{{transactionResponseError}}</label><br>
          </div>
      </div>

      <div>
          <!-- Unnamed (Rectangle) -->
          <div id="u19" class="ax_default label">
              <div id="u19_div" class=""></div>
              <div id="u19_text" class="text ">
                  <p><span>Account Approvals</span></p>
              </div>
          </div>
          <div>
              <table>
                  <thead>
                      <tr>
                          <th style="text-align:center">Type</th>
                          <th style="text-align:center">Status</th>
                          <th style="text-align:center">Time</th>
                          <th style="text-align:center">Approve</th>
                          <th style="text-align:center">Deny</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="item in accountList">
                          <td style="text-align:right;padding-right: 25px;"><i class="fa w3-text-blue w3-large"></i>{{item.type}}</td>
                          <td style="text-align:center">{{item.status}}</td>
                          <td style="text-align:center">{{item.transactionTimestamp}}</td>
                          <td style="text-align:center">
                              <button ng-click="RespondToPendingAccounts(item.id,True)">Approve</button>
                          </td>
                          <td style="text-align:center">
                              <button ng-click="RespondToPendingAccounts(item.id,False)">Deny</button>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
      </div>
      </div>
    <script src="modules/resources/scripts/axure/ios.js"></script>
  </body>
</html>
